
nav{
  text-align: center;
}

table, th, td{
  border: 1px solid black;
  text-align: center;
}
table{
  width: 40%;
  background-color: yellow;

}
.row2{
  background-color: pink;
}

div{
  border: 2px solid red;
}

.p1{
  color: hotpink;
  font-family: Arial;
}

.p2{
  color: pink;
  font-family: Courier;
}

.p3{
  color: lightpink;
  font-family: Corsiva;
}
