.block{
  width: 100%;
}

.sub{
  width: 35.5%;
  margin: 2%;
  border: 2px solid green;
  float: left;
  padding-left: 10%;
  padding-top: 2%;
  padding-bottom: 3%;
}
.sub>img{
  width: 70%;
  height: 300px;
}

.orange{
  background-color: orange;
  text-decoration: none;
  padding: 2%;
  border-radius: 10px;
  color: white;
}

.modalwindow{
position: fixed;
top:0;
bottom:0;
left:0;
right:0;
background-color: rgba(66, 230, 245,1);
opacity: 0;
pointer-events: none;
}

.modalwindow:target {
 opacity: 1;
 pointer-events: auto;
}

.msgblock>img{
  width: 70%;
  height: 60%;
  padding-left: 10%;
}
.msgblock>p{
  background-color: pink;
}
.msgblock>h1{
  background-color: pink;
}
.msgblock{
  width: 60%;
  height: 45%;
  background-color: orange;
  margin: auto;
  margin-top: 20%;
  position: relative;
}
.msgblock>div>a{
  background-color: white;
  text-decoration: none;
  padding: 2%;
  border-radius: 10px;
  color: orange;
  float: right;
  margin-right: 5%;
}
